h3{
  color: hsl(38, 78%, 58%);
  position: absolute;
}
.abouttitle{
  position: absolute;
  font-size: 40px;
  left:15px;
  top:  205px;
  color: hsl(38, 78%, 58%);
}

.body {
    background-color:#194491;

    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 700px;
  }
  
  .skills {
    padding: 10px;
    margin-top: 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .skill {
    width: 100%;
    margin: 10px 0;
  }
  
  .title {
    color: hsl(38, 78%, 58%);
    font-weight: 700;
    
  }
  
  .progress-bar {
    background: #404040;
    border-radius: 3px;
    width: 100%;
    height: 15px;
    margin-top: 5px;
  /*   overflow: hidden; */
  }
  
 
  
  #html .progress {
    max-width: 90%;
    height: 100%;
    background:hsl(38, 78%, 58%);
    border-radius: 3px;
    position: relative;
    animation: 1s ease 0s 1 loadBars; 
  }
  
  #html .progress::after {
    content: "90%";
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    height: 15px;
    width: 30px;
    background: #fff;
    position: absolute;
    padding: 2px 3px;
    border-radius: 4px;
    right: -18px;
    top: -30px;
  }
  
  #html .progress::before {
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    right: -5px;
    top: -12px;  
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
  }
  
  #css .progress {
    max-width: 70%;
    height: 100%;
    background: hsl(38, 78%, 58%);
    position: relative;
    animation: 1s ease 0s 1 loadBars; 
  }
  
  #css .progress::after {
    content: "70%";
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    height: 15px;
    width: 30px;
    background: #fff;
    position: absolute;
    padding: 2px 3px;
    border-radius: 4px;
    right: -18px;
    top: -30px;
  }
  
  #css .progress::before {
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    right: -5px;
    top: -12px;  
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
  }
  
  #js .progress {
    max-width: 60%;
    height: 100%;
    background: hsl(38, 78%, 58%);
    position: relative;
    animation: 1s ease 0s 1 loadBars; 
  }
  
  #js .progress::after {
    content: "60%";
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    height: 15px;
    width: 30px;
    background: #fff;
    position: absolute;
    padding: 2px 3px;
    border-radius: 4px;
    right: -18px;
    top: -30px;
  }
  
  #js .progress::before {
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    right: -5px;
    top: -12px;  
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
  }
  
  @keyframes loadBars{
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
    
  }
  .clm{
    position: absolute;
    top: 30px;
    font-size: 30px;
    font-weight:700 ;
  }
  #txtdiv{
    position: absolute;
    top: 130px;
    width: 50%;
  }
  span{
    font-size: 40px;
  }
  #txtdiv div{
    width: 550px;
    position: absolute;
    margin-top: 155px;
  }
