.footer{
    position: absolute;
    top: 3000px;
    width: 100%;
    background-color:#1F4690;
}
.footer .logo2{
    position:relative;
    width: 200px;
    margin-top: -35px;
    left: 530px;
}
.link5{
    text-decoration: none;
    color: hsl(38, 78%, 58%);
    font-size: 30px;
    padding: 15px;
}
.linkdiv{
    position: absolute;
    left: 400px;
}
.icondiv{
    
    margin-top:80px;
    margin-left: 500px;
}
.icondiv a {
    padding: 10px;
}
#icoan{
    width: 75px;
}
#icoan:hover{
    opacity: 50%;
}
.link5:hover{
    opacity:0.5;
    color:hsl(38, 78%, 58%);
    
}